.navbar-default, .navbar, .navbar-header{
    background-color:#0A1612;
    border: 0;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.razmik-brand{
    padding-left: 20px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.razmik-nav{
    margin-left: 30px;

}

.vsebina{
    background-color: red;
}

.element{
    background-color: green;
    border: 1px solid black;
}

.top{
    margin-top: 0;
}

.vprasanja{
    background-color: green;
    border: 1px solid black;
    height: 500px;
}